body {
  font: 12pt 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #121212;
  line-height: 1.5;
  margin: 0;
}

div.content {
  max-width: 750px;
  margin-left:  auto;
  margin-right: auto;
  padding-left:  1em;
  padding-right: 1em;
}

@font-face {
  font-family: Wellcome;
  src: url(https://wellcome.ac.uk/sites/all/themes/corp_base/assets/fonts/wellcome-bold-webfont.woff2);
}

aside {
  background-color: #ffce3c;
  font: 18pt Wellcome, sans-serif;
  padding-top:    0.5em;
  padding-bottom: 0.5em;
  border-bottom: 5px solid black;
  margin-bottom: 1em;
}

table {
  border-collapse: collapse;
}

table#bags_table {
  border-top:    2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 1em;
  width: 100%;
}

th {
  padding: 3px;
  border-bottom: 1px solid black;
  margin-bottom: 2px;
}

table#bags tr:hover {
  background: #eee;
}

thead tr:hover {
  background: none;
}

td {
  width: 25%;
  padding: 3px;
}

td.bag__space {
  padding-left: 5px;
}

td.bag__external_identifier, td.bag__version, td.bag__links {
  text-align: center;
}

td.bag__version {
  width: 10%;
}

a {
  color: rgba(0, 120, 104, 1);  /* #007868; */
}

a:hover {
  background: rgba(0, 120, 104, 0.3);
}

a:visited {
  color: #003d35;
}

a:visited:hover {
  background: rgba(0, 61, 53, 0.3);
}

aside a {
  color: black;
  text-decoration: none;
}

aside a:visited {
  color: black;
}

aside a:hover {
  text-decoration: underline;
  background: none;
}

aside a:visited:hover {
  background: none;
}

td.file_count {
  width: 13%;
  text-align: right;
}

td.file_size {
  width: 13%;
  text-align: right;
}

td.date_created {
  width: 18%;
  text-align: center;
}

td.version {
  text-align: center;
  width: 6%;
}

td.download {
  text-align: center;
}

.pagination {
  margin-top:    1em;
  margin-bottom: 1em;
  width: 100%;
}

.prev_page {
  text-align: left;
}

.next_page {
  text-align: right;
}

.pagination a, .pagination a:visited {
  color: rgba(0, 120, 104, 1);  /* #007868; */
  margin-bottom: 1em;
}

table#total_file_stats_table {
  margin-left: 1em;
  margin-top: -0.5em;
}

table#total_file_stats_table td {
  padding: 2px;
}

.file_extension {
  font-family: monospace;
  width: 65px;
}

.file_tally_count {
  text-align: right;
  width: 65px;
}

details {
  background: #F0EDE3;
  padding: 8px;
  border-radius: 6px;
}

input {
  font-size: 14pt;
}
