{% extends "base.html" %}

{% block content %}

<h2>Bags in the {{ space }} space</h2>

<style>
  input {
    font-size: 14pt;
  }
</style>

<p>
  <form>
    <label for="external_identifier">identifier starts with:</label>
    <input placeholder="b123" name="external_identifier" id="external_identifier_input" oninput="queryContext.changeExternalIdentifierPrefix(this.value)" {% if query_context.external_identifier_prefix %}value="{{ query_context.external_identifier_prefix }}"{% endif %}>
  </form>
</p>

<div class="pagination">
  {% if page > 1 %}
  <a href="#" class="prev_page" onclick="previousPage({{ page }});">&larr; previous page</a>
  {% endif %}

  {% if page < total_pages %}
  <a href="#" class="next_page" onclick="nextPage({{ page }})">next page &rarr;</a>
  {% endif %}
</div>

<table>
  <thead>
    <th>identifier</th>
    <th>file count</th>
    <th>size</th>
    <th>date created</th>
    <th>version</th>
    <th>download</th>
  </thead>
  <tbody id="tbody__bags">
  </tbody>
</table>

<div class="pagination">
  {% if page > 1 %}
  <a class="prev_page" href="{{ url_for('list_bags_in_space', space=space, page=page-1) }}">&larr; previous page</a>
  {% endif %}

  {% if page < total_pages %}
  <a class="next_page" href="{{ url_for('list_bags_in_space', space=space, page=page+1) }}">next page &rarr;</a>
  {% endif %}
</div>

<script>
  class BagHandler {
    constructor(bags) {
      this.bags = bags;
    }

    createManifestLink(space, external_identifier, version) {
      const template = "{{ url_for('get_bag_metadata', space='SPACE', external_identifier='EXTERNAL_IDENTIFIER', version='VERSION') }}";

      return template.replace("SPACE", space).replace("EXTERNAL_IDENTIFIER", external_identifier).replace("VERSION", version);
    }

    createZipLink(space, external_identifier, version) {
      const template = "{{ url_for('get_bag_files', space='SPACE', external_identifier='EXTERNAL_IDENTIFIER', version='VERSION') }}";

      return template.replace("SPACE", space).replace("EXTERNAL_IDENTIFIER", external_identifier).replace("VERSION", version);
    }

    renderTable() {
      const old_tbody = document.getElementById("tbody__bags");

      var new_tbody = document.createElement("tbody");
      new_tbody.id = "tbody__bags";

      for (var i = 0; i < this.bags.length; i++) {
        var current_bag = this.bags[i];

        var row = new_tbody.insertRow(-1);

        var extIdentifier = row.insertCell(-1);
        extIdentifier.classList.add("external_identifier");
        extIdentifier.innerHTML = current_bag["external_identifier"];

        var fileCount = row.insertCell(-1);
        fileCount.classList.add("file_count");
        fileCount.innerHTML = current_bag["file_count"];

        var fileSize = row.insertCell(-1);
        fileSize.classList.add("file_size");
        fileSize.innerHTML = current_bag["file_size"];

        var dateCreated = row.insertCell(-1);
        dateCreated.classList.add("date_created");
        dateCreated.innerHTML = '<span title="' + current_bag["date_created"] + '">' + current_bag["date_created_pretty"] + "</span>";

        var version = row.insertCell(-1);
        version.classList.add("version");
        version.innerHTML = "v" + current_bag["version"];

        var download = row.insertCell(-1);
        download.classList.add("download");
        download.innerHTML = "<a href=\"" + this.createManifestLink(current_bag["space"], current_bag["external_identifier"], current_bag["version"]) + "\">manifest</a> / <a href=\"" + this.createZipLink(current_bag["space"], current_bag["external_identifier"], current_bag["version"]) + "\">zip</a>";
      }

      old_tbody.parentNode.replaceChild(new_tbody, old_tbody);
    }
  }

  var bagHandler = new BagHandler([]);

  /**
   * http://stackoverflow.com/a/10997390/11236
   */
  function updateURLParameter(url, param, paramVal){
      var newAdditionalURL = "";
      var tempArray = url.split("?");
      var baseURL = tempArray[0];
      var additionalURL = tempArray[1];
      var temp = "";
      if (additionalURL) {
          tempArray = additionalURL.split("&");
          for (var i=0; i<tempArray.length; i++){
              if(tempArray[i].split('=')[0] != param){
                  newAdditionalURL += temp + tempArray[i];
                  temp = "&";
              }
          }
      }

      var rows_txt = temp + "" + param + "=" + paramVal;
      return baseURL + "?" + newAdditionalURL + rows_txt;
  }

  class QueryContext {
    constructor(space, external_identifier_prefix, page, page_size) {
      this.space = space;
      this.external_identifier_prefix = external_identifier_prefix;
      this.page = page;
      this.page_size = page_size;
    }

    changeExternalIdentifierPrefix(newPrefix) {
      this.external_identifier_prefix = newPrefix;
      this.updateResults();

      var newUrl = updateURLParameter(window.location.href, "prefix", newPrefix);
      history.pushState({"prefix": newPrefix}, "", newUrl);
    }

    updateResults() {
      var xhttp = new XMLHttpRequest();

      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          bagHandler.bags = JSON.parse(this.responseText);
          bagHandler.renderTable();
        }
      };
      xhttp.open(
        "GET",
        "/spaces/" + this.space + "/get_bags_data?prefix=" + this.external_identifier_prefix + "&page=" + this.page,
        true
      );
      xhttp.send();
    }
  }

  var queryContext = new QueryContext(
    {{ query_context.space | to_json | safe }},
    {{ query_context.external_identifier_prefix | to_json | safe }},
    {{ query_context.page | to_json | safe }},
    {{ query_context.page_size | to_json | safe }},
  )

  queryContext.updateResults();

  function nextPage(page) {
    window.location.href = updateURLParameter(window.location.href, "page", page + 1);
  }

  function previousPage(page) {
    window.location.href = updateURLParameter(window.location.href, "page", page - 1);
  }
</script>

{% endblock %}
