{% extends "base.html" %}

{% block content %}

<h2>Bags in the {{ space }} space</h2>

<style>
  td.file_count {
    width: 12%;
    text-align: right;
  }

  td.file_size {
    width: 12%;
    text-align: right;
  }

  td.date_created {
    width: 18%;
    text-align: center;
  }

  td.version {
    text-align: center;
    width: 6%;
  }

  td.download {
    text-align: center;
  }

  .prev_page {
    float: left;
  }

  .next_page {
    float: right;
  }

  .pagination a {
    display: block;
    margin-bottom: 1em;
  }
</style>

<div class="pagination">
  {% if page > 1 %}
  <a class="prev_page" href="{{ url_for('list_bags_in_space', space=space, page=page-1) }}">&larr; previous page</a>
  {% endif %}

  {% if page < total_pages %}
  <a class="next_page" href="{{ url_for('list_bags_in_space', space=space, page=page+1) }}">next page &rarr;</a>
  {% endif %}
</div>

<table>
  <tr>
    <th>identifier</th>
    <th>file count</th>
    <th>size</th>
    <th>date created</th>
    <th>version</th>
    <th>download</th>
  </tr>
  {% for bag in bags_in_space %}
  <tr>
    <td>{{ bag.external_identifier }}</td>
    <td class="file_count">{{ bag.file_count | intcomma }}</td>
    <td class="file_size">{{ bag.file_size | naturalsize }}</td>
    <td class="date_created">
      <span title="{{ bag.date_created }}">
        {{ bag.date_created | render_date }}
      </span>
    </td>
    <td class="version">
      v{{ bag.version }}
    </td>
    <td class="download">
      <a href="{{ url_for('get_bag_metadata', space=bag.space, external_identifier=bag.external_identifier, version=bag.version) }}">
        metadata
      </a> /
      <a href="{{ url_for('get_bag_files', space=bag.space, external_identifier=bag.external_identifier, version=bag.version) }}">
        files
      </a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
