{% extends "base.html" %}

{% block content %}

<h2>Bags in the {{ space }} space (see <a href="{{ url_for('index') }}">all spaces</a>)</h2>

{% include "query_form.html" %}

<details id="bag_details">
  <summary>get bag statistics</summary>

  <ul>
    <li id="li__total_bags">NNN bags</li>
    <li id="li__total_file_count">NN files</li>
    <li id="li__total_file_size">NN GB</li>
  </ul>

  <p>File types:</p>

  <table id="total_file_ext_tally_table">
    <tbody id="total_file_ext_tally">
    </tbody>
  </table>
</details>

<table class="pagination">
  <tr>
    {% if page > 1 %}
    <td class="prev_page">
      <a href="#" onclick="previousPage({{ page }});">&larr; previous page</a>
    </td>
    {% endif %}

    {% if page < total_pages %}
    <td class="next_page">
      <a href="#"onclick="nextPage({{ page }})">next page &rarr;</a>
    </td>
    {% endif %}
  </tr>
</table>

<table id="bags_table">
  <thead>
    <th>identifier</th>
    <th>file count</th>
    <th>size</th>
    <th>date created</th>
    <th>version</th>
    <th>download</th>
  </thead>
  <tbody id="tbody__bags">
  </tbody>
</table>

<div id="no_bags_message" class="hidden">
  ❗️There aren&rsquo;t any bags matching that query!❗️
</div>

<table class="pagination">
  <tr>
    {% if page > 1 %}
    <td class="prev_page">
      <a href="#" onclick="previousPage({{ page }});">&larr; previous page</a>
    </td>
    {% endif %}

    {% if page < total_pages %}
    <td class="next_page">
      <a href="#"onclick="nextPage({{ page }})">next page &rarr;</a>
    </td>
    {% endif %}
  </tr>
</table>

<script>
  var bagHandler = new BagHandler(
    "{{ url_for('get_bag_metadata', space='SPACE', external_identifier='EXTERNAL_IDENTIFIER', version='VERSION') }}",
    "{{ url_for('get_bag_files', space='SPACE', external_identifier='EXTERNAL_IDENTIFIER', version='VERSION') }}"
  );

  var queryContext = new QueryContext(
    {{ query_context.space | to_json | safe }},
    {{ query_context.external_identifier_prefix | to_json | safe }},
    {{ query_context.created_before | to_json | safe }},
    {{ query_context.created_after | to_json | safe }},
    {{ query_context.page | to_json | safe }},
    {{ query_context.page_size | to_json | safe }},
    bagHandler
  );

  queryContext.updateResults();
</script>

{% endblock %}
