<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="{{ url_for('static', filename='bag_browser.js') }}"></script>

    <title>bag browser</title>
  </head>

  <body>
    <aside>
      <div class="content">
        <a href="{{ url_for('index') }}">wellcome bag browser</a>
      </div>
    </aside>
    <main>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </main>
    <footer>
      <div class="content">
        made with 💛
        •
        running <a class="commit" href="https://github.com/wellcomecollection/bag-browser/commit/{{ git_commit }}">{{ git_commit | truncate(7, true, "") }}</a>
        •
        <a href="https://github.com/wellcomecollection/bag-browser">source code</a>
      </div>
    </footer>
  </body>
</html>
