<form>
  <p>
    <label for="external_identifier">identifier starts with:</label>
    <input
      type="text"
      placeholder="b123"
      name="external_identifier"
      id="external_identifier_input"
      oninput="queryContext.changeExternalIdentifierPrefix(this.value)"
      {% if query_context.external_identifier_prefix %}value="{{ query_context.external_identifier_prefix }}"{% endif %}
    >
  </p>

  <p>
    <label for="created_date_after">bags created between:</label>
    <input
      type="date"
      placeholder="2019-11-30"
      name="created_date_after"
      id="created_date_after"
      onchange="queryContext.changeDateCreatedAfter(this.value)"
      {% if query_context.created_after %}value="{{ query_context.created_after }}"{% endif %}
    >
    and
    <input
      type="date"
      placeholder="2020-01-30"
      name="created_date_before"
      id="created_date_before"
      onchange="queryContext.changeDateCreatedBefore(this.value)"
      {% if query_context.created_before %}value="{{ query_context.created_before }}"{% endif %}
    >
  </p>
</form>
